@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Areas/WebPages/Views/Shared/Website_Header.cshtml";
}

        <center>
            <br /><br />
            <h2>An error has occurred.</h2>  

            <p> This error has already been emailed to Tech Support.<br />We will work to resolve the errror as quickly as possible<br />We apologize for any inconvenience this may have caused.</p>  
            <br /><br />

        </center>
