@{
    ViewBag.Title = "Login Successful";
    Layout = null;
}
  <html>

<head>

  <meta name="keywords" content="College of Education Intranet">

  <meta name="description" content="College of Education Intranet Logon">

  <meta name="reply-to" content="webmaster@education.illinois.edu">

  <title>UIUC College of Education:  Intranet</title>

 <link rel="stylesheet" href="https://www-s2.education.illinois.edu/intranet/library/intranet.css" rel="blah" type="text/css" ></link>

<script src="/intranet/library/intranet.js"></script>



</head>

<body bgcolor="#ffffff" link="#3333cc" vlink="#cc3300"    OnLoad="initializeIntranetPage();document.logonform.username.focus();" >

<div class="header" id="header">

<div id="application"><a href="/dotnet/coelogin.aspx/login">COE Intranet</a></div>

<div id="intranet"><a href="/dotnet/coelogin.aspx/login">Go to Intranet Home</a></div>

<div id="logout"><a href="/dotnet/coelogin.aspx/logout">Log Off Intranet</a></div>

</div>

<div class="subheader"></div>

<div class="content" id="main_content">

<p><b>Thank you for logging out!</b></p>

This browser has been logged off College of Education Intranet.

</p>







</div>

<div class="footer" id="footer">

</div></body>

</html>




