@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <center>
            <h2>An error has occurred.</h2>  
            <p> This error has already been emailed to Tech Support.<br />We will work to resolve the errror as quickly as possible<br />We apologize for any inconvenience this may have caused.</p>  
        </center>
