@model CoTE.Areas.LACES.Models.Student
@using CoTE.Models
@using System.Configuration
@using System.Data.SqlClient
@{
    Layout = "~/Areas/WebPages/Views/Shared/Website_Header.cshtml";

    string ELISAccountCreatedHTML = "";
    string message = (string)ViewBag.message ?? "";

    ELISAccountCreatedHTML = "<table border='1'>";
        
    String ConnString = ConfigurationManager.ConnectionStrings["UserDb"].ConnectionString;

    using (SqlConnection conn = new SqlConnection(ConnString))
    {
        conn.Open();
        using (SqlCommand cmd = new SqlCommand())
        {
            cmd.Connection = conn;
            cmd.CommandType = System.Data.CommandType.Text;

            cmd.CommandText = "Select cte_stu_id, last_name + ', ' + first_name as fullname " +
                " from cte_stu_demo " +
                " where isnull(ELIS_Account_Created, 0) = 0 " + 
                " and student_status = 'A' " + 
                " order by 2";
                        
            using (SqlDataReader reader = cmd.ExecuteReader())
            {

                while (reader.Read())
                {

                    ELISAccountCreatedHTML = ELISAccountCreatedHTML + "<tr><td width='100' align='center'>" + reader[1].ToString() + "</td><td width='100' align='center'><div class=''><input type='checkbox' class='cs-input-checkbox' datatype='checkbox' id='checkbox_" + reader[0].ToString() + "' name='checkbox_" + reader[0].ToString() + "' value=" + reader[0].ToString() + " /><label for='checkbox_" + reader[0].ToString() + "'></label></div></td></tr>";

                }
            }
        }
    }

    ELISAccountCreatedHTML = ELISAccountCreatedHTML + "</table>"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ELIS Account Created</title>
</head>
<body>

    <h2>ELIS Account Created</h2>
    @using (Html.BeginForm("ELISAccountCreated", "Tools", FormMethod.Post))
    {
            @MvcHtmlString.Create(ELISAccountCreatedHTML)

         if (message != "")
            {
                @MvcHtmlString.Create(message)
            }       
            
            <br/><input type="submit" name="Submit" value="Submit"/>
        

    }

</body>
</html>

