@model CoTE.Areas.LACES.Models.Student
@using CoTE.Models
@using System.Configuration
@using System.Data.SqlClient
@{
    Layout = "~/Areas/WebPages/Views/Shared/Website_Header.cshtml";

    string OrientationAttendanceHTML = "";
    string message = (string)ViewBag.message ?? "";

    OrientationAttendanceHTML = "<table border='1'>";

    String ConnString = ConfigurationManager.ConnectionStrings["UserDb"].ConnectionString;

    using (SqlConnection conn = new SqlConnection(ConnString))
    {
        conn.Open();
        using (SqlCommand cmd = new SqlCommand())
        {
            cmd.Connection = conn;
            cmd.CommandType = System.Data.CommandType.Text;

            cmd.CommandText = "SELECT STU.cte_stu_id, STU.FIRST_NAME, STU.attended_orientation, STU.LAST_NAME, STU.MIDDLE_NAME" +
                " FROM CTE.DBO.CTE_STU_DEMO STU " +
                "WHERE (ISNULL(stu.attended_orientation, 0) = 0) and (student_status ='a') ORDER BY STU.LAST_NAME;";

            using (SqlDataReader reader = cmd.ExecuteReader())
            {

                while (reader.Read())
                {

                    OrientationAttendanceHTML = OrientationAttendanceHTML + "<tr><td width='100' align='center'>" + reader[3].ToString() + ", " + reader[1].ToString() + " " + reader[4].ToString() + "</td><td width='100' align='center'><div class=''><input type='checkbox' class='cs-input-checkbox' datatype='checkbox' id='checkbox_" + reader[0].ToString() + "' name='checkbox_" + reader[0].ToString() + "' value=" + reader[0].ToString() + " /><label for='checkbox_" + reader[0].ToString() + "'></label></div></td></tr>";

                }
            }
        }
    }

    OrientationAttendanceHTML = OrientationAttendanceHTML + "</table>";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orientation Attendance</title>
</head>
<body>

    <h2>Orientation Attendance</h2>
    @using(Html.BeginForm("OrientationAttendance", "Tools", FormMethod.Post))
    {
            @MvcHtmlString.Create(OrientationAttendanceHTML)

         if (message != "")
            {
                @MvcHtmlString.Create(message)
            }       
            
            <br/><input type="submit" name="Submit" value="Submit"/>
        

    }

</body>
</html>


