<form action="/dotnet/laces/tools.aspx/TestFileUpload" method="post" enctype="multipart/form-data">
    <label for="file">Filename:</label>
    <input type="file" name="userFiles" />
 
    <input type="submit" name="submit" value="Submit" />
</form>
