
<title>Educator Employment Survey</title>

<LINK REL="stylesheet" TYPE="text/css" HREF="https://cte-s.education.illinois.edu/css/default.css" TITLE="fonts"></LINK>

</HEAD>

<BODY id="285" background="https://cte-s.education.illinois.edu/images/backround.gif" TEXT="#666666" LINK="#31326B" VLINK="#FF6600" LEFTMARGIN="0" TOPMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0" onLoad="initialize();">

<CENTER>

<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0">

<TR>

<TD WIDTH="15" align="right" valign="top" background="https://cte-s.education.illinois.edu/images/leftside.gif">

<img src="https://cte-s.education.illinois.edu/images/leftside_top.gif" width="15" height="17" align="top"></img>

</TD>

<TD WIDTH="750" colspan="2" align="left" valign="top" bgcolor="#FFFFFF">

<TABLE WIDTH="740" BORDER="0" CELLPADDING="0" CELLSPACING="0">

<TR>

<TD width="750">

<a href="http://www.illinois.edu">

<img src="https://cte-s.education.illinois.edu/images/header.gif" alt="Council on Teacher Education at the University of Illinois at Urbana-Champaign" width="750" height="64" border="0" align="top"></img>

</a>

</TD>

</TR>

<TR>

<TD bgcolor="#E7670C">

<img src="https://cte-s.education.illinois.edu/images/clear.gif" width="1" height="1"></img>

</TD>

</TR>

<TR>

<TD bgcolor="#E7670C">

<img src="https://cte-s.education.illinois.edu/images/gateway.jpg" alt="Photo of Hallene Gateway" width="750" height="130"></img>

</TD>

</TR>

<TR>

<TD bgcolor="#E7670C" background="https://cte-s.education.illinois.edu/images/menu_spacer.gif" height="10" width="1">

<a href=""></a>

</TD>

</TR>

</TABLE>

<TABLE WIDTH="750" ALIGN="CENTER" CELLPADDING="10" CELLSPACING="0" BGCOLOR="#FFFFFF">

<TR>

<TD colspan="3" href="">

<table class="body_holder" name="body_holder" id="body_holder">

<tr>

<td align="center">

<p id="offpf" style="display:none">

<span class="togglepf">

<a href="javascript:pfOff();">

<img src="https://www-s2.education.illinois.edu/intranet/images/printer.gif" alt="toggle printer friendly on and off" border="0"></img>

</a>

</span>

</p>

<h1>Educator Employment Survey</h1>

<div class="directions" id="directions" name="directions">

For verification purposes, please enter your state ID number (IEIN) from the <a href="https://sec3.isbe.net/IWASNET/login.aspx">Educator Licensure Information System (ELIS)</a> in the box below.  When you have entered your IEIN, please click on the <b>Next</b> button to continue.

</div>

<form class="main_form" id="add" method="post" action="/dotnet/WebPages/EmploymentSurvey.aspx/Year2">

<div class="sections">

<table id="section_536_table" class="one_to_one_section">

<div class="section" id="536" one_to_many="false" question_html_structure="table" section_xslt_2nd_pass="">

<tr class="section_header" name="section_header">

<td colspan="2">

<h2 class="section_title"></h2>

</td>

</tr>

<tr class="question_and_input" id="question_and_input_2750" name="question_and_input">

<td class="question" question_id="2750">

<span class="required_symbol">* </span>

<span class="question_name">IEIN</span>

</td>

<td class="question_input">

<label for="input__504__NEG1__2750" friendlyname="IEIN"></label>

<input type="text" name="IEIN" friendlyname="IEIN" one_to_many="false" value="" maxlength="" size="" onChange="filterOnChange(this);"></input>

</td>

</tr>

</div>

</table>

</div>

<br></br>

<table width="100%">

<tr align="center">

<td>

<br></br>

</td>

</tr>

<tr align="center">

<td>

<center>PLEASE CLICK <b>NEXT</b> TO MOVE TO THE NEXT QUESTION.<br></br>

<input name="submit" accesskey="s" type="submit" value="Next"></input>

<input type="button" name="cancel" value="Cancel (Alt-C)" accesskey="c" onClick="window.location = '';"></input>

</center>

</td>

</tr>

<tr align="center">

<td>

<br></br>

<br></br>

<br></br>

</td>

</tr>

</table>

</form>

</td>

</tr>

</table>

</TD>

</TR>

</TABLE>

</TD>

<TD WIDTH="15" ALIGN="LEFT" valign="top" background="https://cte-s.education.illinois.edu/images/rightside.gif">

<img src="https://cte-s.education.illinois.edu/images/rightside_top.gif" width="15" height="17" align="top"></img>

<BR></BR>

<img src="https://cte-s.education.illinois.edu/images/clear.gif" width="15" height="50"></img>

</TD>

</TR>

</TABLE>

<TABLE WIDTH="780" BORDER="0" CELLPADDING="0" CELLSPACING="0">

<TR>

<TD ALIGN="RIGHT" width="15">

<img src="https://cte-s.education.illinois.edu/images/leftside_bottom.gif" width="15" height="20" align="top"></img>

</TD>

<TD width="143" height="17" ALIGN="LEFT" valign="top" bgcolor="#31326B">

<img src="https://cte-s.education.illinois.edu/images/left_bottomcorner.gif" width="15" height="20" align="top"></img>

</TD>

<TD width="839" align="RIGHT" valign="top" bgcolor="#31326B">

<img src="https://cte-s.education.illinois.edu/images/right_bottomcorner.gif" width="15" height="20" align="top"></img>

</TD>

<TD ALIGN="LEFT" width="15">

<img src="https://cte-s.education.illinois.edu/images/rightside_bottom.gif" width="15" height="20" align="top"></img>

</TD>

</TR>

<TR height="1" align="center">

<TD colspan="4" height="1">

<img src="https://cte-s.education.illinois.edu/images/bottom.gif" height="12" width="780"></img>

</TD>

</TR>

</TABLE>

<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="780">

<TR>

<TD width="15" ALIGN="left" VALIGN="TOP">

<img src="https://cte-s.education.illinois.edu/images/clear.gif" width="15" height="30" border="0"></img>

</TD>

<TD width="429" ALIGN="left" VALIGN="TOP" class="footer">

<a href="http://www.illinois.edu/">University of Illinois at Urbana-Champaign</a>

</TD>

<TD width="401" ALIGN="right" VALIGN="TOP" class="footer">E-mail: <a href="mailto:ed-cte-techsupport@ad.uiuc.edu">ed-cte-techsupport@ad.uiuc.edu</a>

</TD>

<TD width="15" ALIGN="right" VALIGN="TOP">

<img src="https://cte-s.education.illinois.edu/images/clear.gif" width="15" height="30"></img>

</TD>

</TR>

<TR>

<TD colspan="4" ALIGN="CENTER" VALIGN="TOP">

<P CLASS="footer">

<a href="http://www.fs.uiuc.edu/cam/CAM/ii/ii-17.html" target="_blank">Copyright © 2005

The University of Illinois</a>

<br></br>

</P>

</TD>

</TR>

</TABLE>

</CENTER>

</BODY>

</HTML>

