@{
    ViewBag.Title = "Login Successful";
    Layout = "~/Areas/WebPages/Views/Shared/Website_Header.cshtml";
}
					<p align="center">&nbsp;</p>
                    <p align="center"><b><font face="Arial" size="5">Thank you for logging out!</font>
		    <BR><BR>
		    <FONT SIZE=+1 FACE=ARIAL>This browser has been logged out from the CoTE Portals.<br/><br/><font color="red">Please make sure to completely close ALL browser windows before logging in again.</font></font></b></p>
                    <p align="center">&nbsp;</p>
					<BR><BR><BR><BR>
