@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Areas/WebPages/Views/Shared/Website_Header.cshtml";
}

<div class="row page-content portal-content">
    <div class="small-12 column">   
        <form method="post" action="/dotnet/account.aspx/resetpassword">
        <div class="section-border">
            <div class="row medium-unstack">
                        <b>Reset Your Password</b>
            </div>
            <div class="row medium-unstack">
                        <br />To reset your password, enter your email address in the field below and click on the Send Email button.<br><br>
            </div>
            <div class="row medium-unstack">
    	                <font size=-1 face=arial,helvetica>Email Address:&nbsp;
            </div>
            <div class="row medium-unstack">
                        <INPUT TYPE=text NAME="email"  onfocus="this.value='';" SIZE="35" valign=top onkeypress="if (event.which == 13 || event.keyCode == 13) {this.form.password.focus(); return false;}" value="">
            </div>
            <div class="row medium-unstack">
                        <b><font color="red" size=-1 face=arial,helvetica>
                                    @if (@ViewBag.ErrorMessage != null)
                                    {
                                        @Html.Raw(HttpUtility.HtmlDecode(@ViewBag.ErrorMessage));
                                    }
                        </font></b>
            </div>
            <div class="row medium-unstack">
                    <input type="submit" value="Send Email" name="action">
                    <input type="hidden" name="submit" value="true">
            </div>
            <div class="row medium-unstack">
	                    <br><script type='text/javascript'>var a = new Array('lto:', '@@illin', 'upport', 'techs', 'cote-', 'ois.edu', 'mai'); document.write("For additional help, please email &nbsp;<br/><a href=" + a[6] + a[0] + "'" + a[4] + a[3] + a[2] + a[1] + a[5] + "'><br/>" + a[4] + a[3] + a[2] + a[1] + a[5] + "</a>");</script><br />&nbsp; or call <b><br />&nbsp;(217) 333-2804</b>.
            </div>
        </form>
    </div>
</div>

