@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Send_PC_Emails</title>
</head>
<body>
    <div>
        Emails sent.  Please click <a href="/dotnet/formprocessor/index.aspx/index?form_id=368&index_id=509"> here </a>to return to index page.
    </div>
</body>
</html>
