<h3><b><font color="red">You have been denied access to the CoTE Portal.  Please review the list below to determine why you may not have access to the Portals.</font></b></h3>
<h4>Students <b>(log in using Network ID and Active Directory Password)</b></h4>
Only <b>active</b> students in Licensure programs can access the Student Portal
<br />
<p style="margin-left: 40px">
        For incoming students, please contact your admitted department to make sure that they have sent your information to CoTE
<br />	For students that have recently graduated, your access to the Student Portal is revoked after your license has been fully processed
</p>
<br />
<h4>Cooperating Personnel <b>(log in using Email Address and user created password)</b></h4>
Only Cooperating Personnel who are working with University Students or who have an active waiver may access the Cooperating Personnel Portal.
<p style="margin-left: 40px">
		Please make sure that the program you are working has entered your placement information into the CoTE system.
</p>
<br />
<h4>University Supervisors <b>(log in using Network ID and Active Directory Password)</b></h4>
Only University Supervisors that are <b>currently supervising</b> University students can access the University Supervisor Portal.
<p style="margin-left: 40px">
    	Please make sure that your program has sent your information to CoTE.
</p>
<br /><br />